<h1><%= @set[:name] %></h1>
<table>
	<tr>
		<th>Name</th>
		<th>Video #s</th>
		<tbody>
			<tr>
				<td><%= @set[:name] %></td>
				<td><%= @set[:vidnums] %></td>
			</tr>
		</tbody>
	</tr>
</table>
<ul class="set_actions">
	<li><a href="/sets/<%= @set[:name] %>/edit">Edit</a></li>
	<li><a href="/sets/<%= @set[:name] %>/play">Play</a></li>
	<li><a href="/sets/<%= @set[:name] %>/delete">Delete</a></li>
</ul>